.s1 {
	font-family: Helvetica;
	font-size: 40px;
	position: absolute;
	top: 5px;
	float: left;
	margin-right: 900px;
	font-weight: bolder;

}

.m1{ 
font-family: Helvetica;
	font-size: 40px;
	position: absolute;
	top: 5px;
	float: right;
	margin-left: 900px;
	text-align: right;
	color: white;
	background-color: black;
	font-weight: bolder;
	 }

