body {background: black;
}

h1 {
	font-family:Helvetica;
	font-weight: bolder;
	letter-spacing: 2px;
	text-align: center;
}

h2 {
font-family:Helvetica;
	font-weight: bolder;
	text-align: center;
	font-size: 100px;
	background-color: tomato;
}

p {
	font-family: Garamond;
	text-align: justify;
}

li {
	font-family: Garamond;
	color: white;
	font-size: 25px;
}

img {vertical-align: center;}


